@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Train+One&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #a78bfa;
  --secondary: #c4b5fd;

  --header: #4e4e4e;
  --error: #ff4a4a;
}

body::-webkit-scrollbar {
  display: none;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--header);
}

.title h1 {
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-family: 'Train One', cursive;
}
.title h2 {
  text-align: center;
}
.title h2 {
  margin-top: 1rem;
  font-size: 2.6rem;
  font-family: 'Patrick Hand', cursive;
}

.title-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* upload form styles */
.upload-file {
  width: 0px;
  height: 0px;
  position: absolute;
}

.upload-file-label {
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  border: 2px solid var(--secondary);
  border-radius: 0.4rem;
  margin: 1rem auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.4s;
}

.upload-file-label:hover {
  background-color: var(--secondary);
  color: white;
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background-color: var(--secondary);
}

/* image grid styles */
.image-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.image-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  border-radius: 0.5rem;
}

.image-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.image-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.3rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--secondary);
}

/* modal styles */
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.back-drop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  object-fit: contain;
  margin: 3rem auto;
  border: 2px solid white;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
}
